---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
        // "base",
        // "layout",
        // "syntax-highlighting"
        "libs/bourbon/bourbon",
        "libs/neat/neat",
        "variables",
        "fonts",
        "typography",
        "blocks/header",
        "blocks/footer",
        "blocks/section",
        "blocks/post",
        "elements/post-meta"
;

// // Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
// 
// $spacing-unit:     30px;



// // Width of the content area
// $content-width:    800px;
// 
// $on-palm:          600px;
// $on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body {
  margin: 0;
  padding: 0;

  color: $text-color-default;
  background-color: $background-color-default;

}

.devider {
  width: 80%;
}

// Import partials from `sass_dir` (defaults to `_sass`)

