---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

const title = "Thoughts";
const allThoughts = await getCollection("thoughts");
---

<DefaultLayout title={title}>
  <section class="prose prose-lg px-8 mx-auto mb-8 min-h-[75vh]">
    <h2>Thoughts</h2>
    <ul>
      {
        allThoughts
          .sort(
            (a, b) =>
              b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
          )
          .map((thought) => (
            <li>
              <a href={`/thoughts/${thought.slug}`}>{thought.data.title}</a> –{" "}
              <small>{thought.data.publishedAt.toDateString()}</small>
            </li>
          ))
      }
    </ul>
  </section>
</DefaultLayout>
