.hero {  
  
  background-color: $background-color-light;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  
  height: 60vh;
  
  &.dark {
    background-color: $background-color-dark;
    color: $text-color-light;
  }
  
  .hero-inner {
    width: 80%;
    @include outer-container;
    @include clearfix;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    
  }
}

.hero-copy {
  
  text-align: center;
  
  h1 {
    margin-bottom: 0.5em;
    font-size: modular-scale(4);
  }
  
  p {
    margin: 0 auto 3em auto; 
  }
}

.hero-img,
.hero-logo {
  @include size(9rem);
  
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  
  img {
    
    height: 100%;    
  }
  
  span {
    
    svg {
      @include size(9rem);
      path {
        fill: $text-color-light;
      }
    }
  }
}

// .hero-logo {
//   margin: auto;
//   margin-bottom: 1em;
//   
// 
// }

.home-link {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: modular-scale(1);
}