.post-list-item {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border: solid 1px $text-color-dark;
  padding: 1em;
  margin-bottom: -1px;
  
}

.post-meta-date,
.post-meta-word-count {
  width: 11em;
}

.post-title.small {
  width: 50%;
  margin: 0;
}
