section {
  @include outer-container;
  
  padding: $container-padding;
  
  .section-title {
    @include type-style-bold;
    font-size: modular-scale(1);
    text-align: center; 
  }
  
  ul {
    padding: 0;
    
    li {
      list-style: none;
    }
  }
  
  article {
    position: relative;
    padding-bottom: 2em
  }
}

.article-header {
  
  h1 {
    font-size: modular-scale(3);
    text-align: center;      
  }    
}

.read-on-link {
  @include position(absolute, null 1em 1em null);
}