---
import { getCollection, render } from "astro:content";
import { countWords, getReadingTime } from "../../lib/wordCount";
import Base from "../../layouts/Base.astro";

import Section from "../../components/Section.astro";

export async function getStaticPaths() {
  const articleEntries = await getCollection("articles", ({ data }) => !data.isDraft);
  return articleEntries.map((entry) => ({
    params: { slug: entry.id.replace(/\.mdx?$/, "") },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const wordCount = countWords(entry.body);
const readingTime = getReadingTime(entry.body);
const { Content } = await render(entry);
---

<Base title={entry.data.title}>
  <Section>
    <h1>{entry.data.title}</h1>
              <small class="block text-center">
            {entry.data.publishedAt.toLocaleDateString("de-DE")} 
            • {wordCount} Worte
            • Lesezeit { readingTime } min
            
          </small>
          <div class="flex justify-center gap-2">
            {entry.data.tags.map(tag => (
              <span class="text-xs px-2 py-1 ">
                {tag}
              </span>
            ))}
          </div>
    <Content />
  </Section>
</Base>
