---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

import Section from "../../components/Section.astro";

export async function getStaticPaths() {
  const articleEntries = await getCollection("articles");
  return articleEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<DefaultLayout title={entry.data}>
  <Section>
    <h1>{entry.data.title}</h1>
    <small>{entry.data.publishedAt.toDateString()}</small>
    <Content />
  </Section>
</DefaultLayout>
