---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import { imageConfig } from "astro:assets";
import SectionHeader from "../../components/SectionHeader.astro";
import ArticleList from "../../components/ArticleList.astro";

const title = "Artikel";
const allArticles = await getCollection("articles");
---

<Base title={title}>
  <section class="prose prose-lg px-8 mx-auto mb-8 min-h-[75vh]">
    <SectionHeader title="Artikel" image="Artikel-black.png" />
    
    <p>
      Hier findest Du eine Sammlung von Artikel, Die ich über die Jahre geschrieben habe. Manche sind auch Experimente, die ich als UX Designer unternommen habe. Andere sind gar politisch.
    </p>
    <ArticleList articles={allArticles} />
  </section>
</Base>
