<footer class="footer" role="contentinfo">
<div class="footer-container">
  <div class="footer-logo">
    <span class="icon icon--pdxiii">
        {% include icon-pdxiii.svg %}
    </span>
  </div>
  <h1 class="footer-title">Made in Berlin</h1>
  <div class="footer-links">
    <ul>
      <li><h3>Contact</h3></li>
      <li><a href="http://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
      <li><a href="{{site.official_website}}">Website</a></li>
      <li><a href="mailto:{{ site.email }}">Mail</a></li>
    </ul>
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
      <li><a href="{{ site.baseurl }}/readme/">Imprint</a></li>
    </ul>
  </div>
  
  <hr>
  
  <p>{{ site.disclaimer | markdownify}}</p>
</div>
</footer>