<header class="site-header">
  
  {% if page.type == "index" %}
  <div class="hero dark">
    <div class="hero-inner">
      <div class="hero-logo">
        <a href="{{ site.baseurl }}/" class="hero-logo">
          <span class="icon icon--pdxiii">
            {% include icon-pdxiii.svg %}
          </span>
        </a>
      </div>
      <div class="hero-copy">
        <h1 class="site-title">
          {{ site.title }}
        </h1>
        <p class="lead description">
          {{ site.description }}
        </p>	
      </div>
    </div>
  </div>
  {% else %}
  <div class="hero">
    
    <div class="home-link">
      <a href="{{ site.baseurl }}/" ">Home</a>
    </div>    
    
    <div class="hero-inner">
      
      {% if page.header-img %}
      <div class="hero-img">
        <img src="{{ site.baseurl }}/images/{{ page.header-img }}" alt="">
      </div>
      {% endif %}
      <div class="hero-copy">
        <h1 class="site-title">
          {{ page.title }}
        </h1>	
      </div>
    </div>
  </div>
  
  {% endif %}
</header>
