<section class="post-section">
  
  <h2 class="section-title">News</h2>
  
  <div class="feature">
    
    {% for post in site.posts limit:1 %}
    <article class="post-preview">
      <header class="article-header">
        <h1 class="post-title ">
          <a class="header-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">{{ post.content | number_of_words }} words, written on {{ post.date | date: "%b %-d, %Y" }}</span>
      </header>
      <div class="article-content">
        {{ post.excerpt }}
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="read-on-link">read on</a>
    </article>
    {% endfor %}
  </div>
  
  <ul class="post-list">
    {% for post in site.posts offset:1 %}
    <li>
      <article class="post-list-item">
        <span class="post-meta-date">
          {{ post.date | date: "%b %-d, %Y" }}
        </span>
        <h1 class="post-title small">
          <a class="header-link small" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta-word-count">
          {{ post.content | number_of_words }} words
        </span>
      </article>
    </li>
    {% endfor %}
  </ul>
  
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  
</section>
