<script id="watchEvent" type="text/html">
<li>
  <p>
    <%= formatedTime %> I starred <a class="repoName" href="<%= repoURL %>"><%= repoName %></a> by <a class="repoOwner" href="<%= repoOwnerURL %>"><%= repoOwner %></a>. I think it is pretty cool!
  </p>
</li>
</script>

<script id="issueEvent" type="text/html">
<li>
  <p>
      <%= formatedTime %> I filed <a href="<%= issueURL %>">issue &#8470;<%= issueNumber %></a> at the <a class="repoName" href="<%= repoURL %>"><%= repoName %></a> project by <a class="repoOwner" href="<%= repoOwnerURL %>"><%= repoOwner %></a>. Take a look, maybe you’ve got the answer.
  </p>
</li>
</script>

<script id="pushEvent" type="text/html">
  <li>
    <p>
        <%= formatedTime %> I pushed some code to my  <a class="repoName" href="<%= repoURL %>"><%= repoName %></a> project.
    </p>
  </li>
</script>


<script id="default" type="text/html">
  <li>
    <p>
      <%= formatedTime %> I have done something top secret on GitHub. If I would tell you, I had to kill you! Sorry, pal!  
    </p>
  </li>
</script>