<script id="watchEvent" type="text/html">
<li>
  <p>
    <%= formatedTime %> I starred <a href="<%= repoURL %>"><%= repoName %></a> by <a href="<%= repoOwnerURL %>"><%= repoOwner %></a>. I think it is pretty cool!
  </p>
</li>
</script>

<script id="issueEvent" type="text/html">
<li>
  <p>
      <%= formatedTime %> I filed <a href="<%= issueURL %>">issue no.<%= issueNumber %></a> at the <a href="<%= repoURL %>"><%= repoName %></a> project by <a href="<%= repoOwnerURL %>"><%= repoOwner %></a>. Take a look, maybe you’ve got the answer.
  </p>
</li>
</script>

<script id="pushEvent" type="text/html">
  <li>
    <p>
        <%= formatedTime %> I pushed some code to my  <a href="<%= repoURL %>"><%= repoName %></a> project.
    </p>
  </li>
</script>


<script id="default" type="text/html">
  <li>
    <p>
      <%= formatedTime %> I did something strange!  
    </p>
  </li>
</script>