@font-face {
  font-family: 'CamingoCode-Regular';
  src:  format('woff'),url('../fonts/Jan Fromm - CamingoCode Regular.ttf');
}

@font-face {
  font-family: 'CamingoCode-Italic';
  src:  format('woff'),url('../fonts/Jan Fromm - CamingoCode Italic.ttf');
}

@font-face {
  font-family: 'CamingoCode-Bold';
  src:  format('woff'),url('../fonts/Jan Fromm - CamingoCode Bold.ttf');
}

@font-face {
  font-family: 'CamingoCode-BoldItalic';
  src:  format('woff'),url('../fonts/Jan Fromm - CamingoCode Bold Italic.ttf');
}