---
import Link from "./Link.astro";
---

<footer
  class="w-full px-8 pt-8 pb-16 grid grid-cols-3 gap-4 sm:grid-cols-4 bg-amber-200"
>
  <div>
    <h2 class="font-medium">Content</h2>
    <ul>
      <li><Link classList="me-2" to="/">Index</Link></li>
      <li><Link classList="me-2" to="/projects">Projects</Link></li>
      <li><Link classList="me-2" to="/thoughts">Thoughts</Link></li>
      <li><Link classList="me-2" to="/about">About Me</Link></li>
      <li><Link classList="me-2" to="/now">Now</Link></li>
      <!-- <li class=""><Link to="/imprint">Imprint</Link></li> -->
    </ul>
  </div>
  <div>
    <h2 class="font-medium">Find me on</h2>
    <ul>
      <li class=""><Link to="https://github.com/PDXIII">GitHub</Link></li>
      <li class="">
        <Link to="https://www.linkedin.com/in/pdxiii/">LinkedIn</Link>
      </li>
      <li class=""><Link to="https://codepen.io/PDXIII">CodePen</Link></li>
    </ul>
  </div>
  <div class="sm:col-start-4">
    <p>
      Made with ❤️ in Berlin! <br />
      &copy; 2023 by <Link to="/">Peter&nbsp;Sekan.</Link>
    </p>
  </div>
</footer>
