---
import Link from "./Link.astro";

const year = new Date().getFullYear();
---

<footer
  class="w-full px-8 pt-8 pb-16 grid grid-cols-3 gap-4 sm:grid-cols-4 border-primary border-t bg-amber-100"
>
  <div>
    <h2 class="font-medium">Inhalt</h2>
    <ul>
      <li><Link classList="me-2" to="/">Start</Link></li>
      <li><Link classList="me-2" to="/angebot">Mein Angebot</Link></li>
      <li><Link classList="me-2" to="/articles">Artikel</Link></li>
      <li><Link classList="me-2" to="/about">Über Mich</Link></li>
      <li><Link classList="me-2" to="/impressum">Impressum</Link></li>
      <!-- <li class=""><Link to="/imprint">Imprint</Link></li> -->
    </ul>
  </div>
  <div>
    <h2 class="font-medium">Social Networks</h2>
    <ul>
      <li class=""><Link to="https://github.com/PDXIII">GitHub</Link></li>
      <li class="">
        <Link to="https://www.linkedin.com/in/pdxiii/">LinkedIn</Link>
      </li>
      <li class=""><Link to="https://codepen.io/PDXIII">CodePen</Link></li>
    </ul>
  </div>
  <div class="sm:col-start-4">
    <p>
      Mit ❤️ jemacht in Berlin! <br />
      &copy; {year} by <Link to="/">Peter&nbsp;Sekan.</Link>
    </p>
  </div>
</footer>
