---
import Link from "./Link.astro";
---

<footer class="w-screen px-8 pt-8 pb-16 grid gap-4 grid-cols-3 bg-amber-200">
  <div>
    <h2 class="font-medium">Content</h2>
    <ul>
      <li class=""><Link to="/">Index</Link></li>
      <li class=""><Link to="/about">About Me</Link></li>
      <!-- <li class=""><Link to="/imprint">Imprint</Link></li> -->
    </ul>
  </div>
  <div>
    <h2 class="font-medium">Find me on</h2>
    <ul>
      <li class=""><Link to="https://github.com/PDXIII">GitHub</Link></li>
      <li class="">
        <Link to="https://www.linkedin.com/in/pdxiii/">LinkedIn</Link>
      </li>
      <li class=""><Link to="https://codepen.io/PDXIII">CodePen</Link></li>
    </ul>
  </div>
  <div>
    <p>
      Made with ❤️ in Berlin! <br />
      &copy; 2023 by <Link to="/">Peter Sekan.</Link>
    </p>
  </div>
</footer>
