---
---

<footer class="w-screen px-8 pt-8 pb-16 grid gap-4 grid-cols-3">
  <div>
    <h2 class="font-bold">Content</h2>
    <ul>
      <li class=""><a href="/">Index</a></li>
      <li class=""><a href="/about">About Me</a></li>
      <li class=""><a href="/imprint">Imprint</a></li>
    </ul>
  </div>
  <div>
    <h2 class="font-bold">Find me on</h2>
    <ul>
      <li class=""><a href="https://github.com/PDXIII">GitHub</a></li>
      <li class="">
        <a href="https://www.linkedin.com/in/pdxiii/">LinkedIn</a>
      </li>
      <li class=""><a href="https://codepen.io/PDXIII">CodePen</a></li>
    </ul>
  </div>
  <div>
    <p>
      Made with ❤️ in Berlin! <br />
      &copy; 2023 by <a href="/">Peter Sekan</a>
    </p>
  </div>
</footer>
