---
import Navigation from "./NavigationBar.astro";
---

<header
  class="w-100 mb-8 grid border-primary border-b sm:grid-cols-3 gap-2 sm:gap-4 sm:border-0"
>
  <a class="sm:col-span-1 px-8 pt-4 sm:pb-4 text-2xl" href="/">
    <h1>Peter Sekan</h1>
  </a>
  <p
    class="tag-line font-light text-2xl sm:col-span-2 sm:text-right 2xl px-8 sm:pt-4 pb-4"
  >
    ux & frontend engineer • creative&nbsp;technologist
  </p>
</header>
