---
import Link from "./Link.astro";
---

<header class="w-screen p-8">
  <div class="grid md:grid-cols-3 gap-4">
    <a href="/">
      <h1 class="text-2xl">Peter Sekan</h1>
    </a>
    <p class="tag-line font-light text-2xl md:col-span-2 md:text-right">
      ux & frontend engineer • creative&nbsp;technologist
    </p>
    <nav class="flex col-span-1 col-start-1">
      <Link classList="me-2" to="/">Index</Link>
      <Link classList="me-2" to="/about">About Me</Link>
      <Link classList="me-2" to="/now">Now</Link>
    </nav>
  </div>
</header>
