---
import Navigation from "./NavigationBar.astro";
---

<header
  class="p-8 flex justify-between items-center"
>
  <a class="text-2xl" href="/">
    <h1>
      <img class="h-32 w-auto" src="/images/headlines/PeterSekan-black.png" alt="Peter Sekan">
    </h1>
  </a>
  <p
    class="tag-line font-light text-2xl 2xl"
  >
    Websites &&nbsp;Tattoos
  </p>
</header>
