---
---

<header class="w-screen p-8 grid md:grid-cols-3">
  <a href="/">
    <h1 class="font-medium text-2xl">Peter Sekan</h1>
  </a>
  <p class="tag-line font-light text-2xl md:col-span-2 md:text-right">
    ux & frontend engineer • creative technologist
  </p>
</header>
