---
---

<section class="markdown-container prose prose-lg px-8 mx-auto mb-8">
  <slot />
</section>

<script>
  import { animate, stagger } from "animejs";

  animate(".markdown-container *", {
    opacity: [0, 1],
    translateY: [50, 0],
    delay: stagger(100, { start: 600 }),
    easing: "easeOutQuint",
  });
</script>
