---
import NavLink from "./NavLink.astro";
---

<nav
  class="flex justify-between w-screen sm:justify-start col-span-3 sm:col-span-2 border-primary border-t sm:col-start-1 fixed bottom-0 sm:relative px-8 py-2 backdrop-blur-sm bg-amber-50/25 z-10"
>
  <NavLink to="/">Index</NavLink>
  <NavLink to="/projects">Projects</NavLink>
  <NavLink to="/thoughts">Thoughts</NavLink>
  <NavLink to="/about">About Me</NavLink>
  <NavLink to="/now">Now</NavLink>
</nav>
