---
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section class="projects bg-amber-100">
  <div class="grid grid-cols-2 p-8 gap-4 pb-16">
    <h2 class="text-3xl col-span-2">Recent Projects</h2>
    {
      projects.map((project) => (
        <a
          class="hover:scale-110 transition-transform ease-in-out hover:z-10"
          href={`/projects/${project.id.replace(/\.mdx?$/, "")}`}
        >
          <article>
            <h3 class="text-3xl font-light border-slate-900 border-b hover:border-primary">
              {project.data.title}
            </h3>
            <p>{project.data.teaser}</p>
          </article>
        </a>
      ))
    }
  </div>
</section>

<script>
  import { animate, stagger } from "animejs";

  const animation = animate(".projects article", {
    opacity: [0, 1],
    translateY: [50, 0],
    duration: 500,
    delay: stagger(300, { start: 600 }),
    autoplay: false,
    easing: "easeOutQuint",
  });

  const handleIntersection = (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animation.play();
      }
    });
  };

  const observer = new IntersectionObserver(handleIntersection);
  const target = document.querySelector(".projects");
  if (target) {
    observer.observe(target);
  }
</script>
