---
const { projects } = Astro.props;
---

<section class="projects w-screen bg-amber-100">
  <div class="w-full grid grid-cols-2 p-8 gap-4 pb-16">
    <h2 class="text-3xl col-span-2">Recent Projects</h2>
    {
      projects.map((proj) => (
        <a
          class="hover:scale-110 transition-transform ease-in-out hover:z-10"
          href={proj.url}
        >
          <article>
            <h3 class="text-3xl font-light border-slate-900 border-b hover:border-primary">
              {proj.frontmatter.title}
            </h3>
            <p>{proj.frontmatter.teaser}</p>
          </article>
        </a>
      ))
    }
  </div>
</section>

<script>
  import anime from "animejs/lib/anime.es.js";

  const animation = anime({
    targets: ".projects article",
    opacity: [0, 1],
    translateY: [50, 0],
    duration: 500,
    delay: anime.stagger(300, { start: 600 }),
    autoplay: false,
    easing: "easeOutQuint",
  });

  const handleIntersection = (entries) => {
    entries.map((entry) => {
      if (entry.isIntersecting) {
        animation.play();
      }
    });
  };
  // observe when projects intersect viewport and play animation
  let observer = new IntersectionObserver(handleIntersection);
  const target = document.querySelector(".projects");
  if (target) {
    observer.observe(target);
  }
</script>
