---
const { projects } = Astro.props;
---

<section class="projects w-screen bg-amber-100">
  <div class="text-2xl font-semibold mb-4 container mx-auto">
    <h2>My most recent projects</h2>
  </div>
  <div class="w-full grid grid-cols-2">
    {
      projects.map((proj) => (
        <article>
          <div class="img-container h-16 overflow-hidden">
            <img class="w-full " src={proj.frontmatter.titleImg} alt="" />
          </div>
          <a href={proj.url}>
            <h3 class="text-xl">{proj.frontmatter.title}</h3>
          </a>
        </article>
      ))
    }
  </div>
</section>

<script>
  import anime from "animejs/lib/anime.es.js";

  const animation = anime({
    targets: ".projects article",
    opacity: [0, 1],
    translateY: [50, 0],
    duration: 500,
    delay: anime.stagger(300, { start: 600 }),
    autoplay: false,
    easing: "easeOutQuint",
  });

  const handleIntersection = (entries) => {
    entries.map((entry) => {
      if (entry.isIntersecting) {
        animation.play();
      }
    });
  };

  let observer = new IntersectionObserver(handleIntersection);

  observer.observe(document.querySelector(".projects"));
</script>
