---
const {target, label} = Astro.props
---
<div class="border-b border-black flex justify-center w-full">
    <a class="py-2 px-8 mt-8 mb-8 font-serif no-underline border border-black italic hover:scale-110 transition-all ease-in-out" href={target}>{label}</a>
</div>