<section class="section prose prose-lg px-8 mx-auto mb-8 p-8">
  <slot />
</section>

<script>
  import { animate, stagger } from "animejs";

  animate(".section *", {
    opacity: [0, 1],
    translateY: [50, 0],
    delay: stagger(100, { start: 600 }),
    easing: "easeOutQuint",
  });
</script>