---
import Base from "./Base.astro";
import Section from "../components/Section.astro";
import MarkdownContainer from "../components/MarkdownContainer.astro";
const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
  <Section>
    {frontmatter.titleImg ?  <img src={frontmatter.titleImg} alt="" /> : <h1>{frontmatter.title}</h1>}
    <slot />
  </Section>
</Base>
