---
import DefaultLayout from "./DefaultLayout.astro";
import Section from "../components/Section.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";

import {Content as IntroAngebot } from '../content/md-snippets/intro-Angebot.md';
import {Content as IntroArtikel } from '../content/md-snippets/intro-Artikel.md';

import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";

const allArticles = await getCollection("articles");
const featuredArticles = allArticles.filter((article) => article.data.isFeatured);



const { title } = Astro.props;
---

<DefaultLayout title={title}>
  <Section>
    <SectionHeader title="Hallo" image="Hallo-black.png" />
    <slot />
  </Section>
  <Section>
    <SectionHeader title="Angebot" image="Angebot-black.png" />
    <IntroAngebot />
  </Section>
  <Section>
    <SectionHeader title="Lesenswertes" image="Lesenswertes-black.png" />
    <IntroArtikel />
    <ArticleList articles={featuredArticles} />
  </Section>
  <!-- <ProjectsContainer /> -->
</DefaultLayout>
