---
import Base from "./Base.astro";
import Section from "../components/Section.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import SectionFooter from "../components/SectionFooter.astro";

import {Content as IntroAngebot } from '../content/md-snippets/intro-Angebot.md';
import {Content as IntroArtikel } from '../content/md-snippets/intro-Artikel.md';

import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";

const allArticles = await getCollection("articles");
const featuredArticles = allArticles.filter((article) => article.data.isFeatured);



const { title } = Astro.props;
---

<Base title={title}>
  <Section>
    <SectionHeader title="Hallo" image="Hallo-black.png" />
    <slot />
    <!-- <SectionFooter target="/about" label="Mehr über mich…"/> -->
  
  <div class="border-b border-black flex justify-center w-full flex-col">
    <a class="block text-center py-2 px-8 mt-8 mb-8 font-serif no-underline border border-black italic hover:scale-110 transition-all ease-in-out" href="/about">Mehr über mich…</a>
    <a class="block text-center py-2 px-8 mt-8 mb-8 font-serif no-underline border border-black italic hover:scale-110 transition-all ease-in-out" href="/angebot">Zu meinem Angebot…</a>
    <a class="block text-center py-2 px-8 mt-8 mb-8 font-serif no-underline border border-black italic hover:scale-110 transition-all ease-in-out" href="/articles">Mehr zu lesen…</a>
</div>
  </Section>
  <!-- <Section>
    <SectionHeader title="Angebot" image="Angebot-black.png" />
    <IntroAngebot />
    <SectionFooter target="/mein-angebot" label="Zu meinem Angebot…"/>
  </Section>
  <Section>
    <SectionHeader title="Lesenswertes" image="Lesenswertes-black.png" />
    <IntroArtikel />
    <ArticleList articles={featuredArticles} />
    <SectionFooter target="/articles" label="Mehr Artikel…"/>
  </Section> -->
  <!-- <ProjectsContainer /> -->
</Base>
