---
import Base from "./Base.astro";
import Section from "../components/Section.astro";
import ProjectsContainer from "../components/ProjectsContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import SectionFooter from "../components/SectionFooter.astro";

import {Content as IntroAngebot } from '../content/md-snippets/intro-Angebot.md';
import {Content as IntroArtikel } from '../content/md-snippets/intro-Artikel.md';

import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";

const allArticles = await getCollection("articles");
const featuredArticles = allArticles.filter((article) => article.data.isFeatured);

const miniNavigationArray = [
  {
    title: "Mehr über mich…",
    slug: "/about",
  },
  {
    title: "Zu meinem Angebot…",
    slug: "/angebot",
  },
  {
    title: "Mehr zu lesen…",
    slug: "/articles",
  } 
];



const { title } = Astro.props;
---

<Base title={title}>
  <Section>
    <SectionHeader title="Hallo" image="Hallo-black.png" />
    <slot />
    <!-- <SectionFooter target="/about" label="Mehr über mich…"/> -->
  
  <div class="flex justify-around w-full flex-wrap gap-2 mt-12">
    {miniNavigationArray.map((item) => (
      <a class="px-4 py-2 font-serif italic  mt-4 text-primary border-black hover:text-black hover:border-primary  transition-colors ease-in-out" href={item.slug}>{item.title}</a>
    ))}
</div>
  </Section>
  <!-- <Section>
    <SectionHeader title="Angebot" image="Angebot-black.png" />
    <IntroAngebot />
    <SectionFooter target="/mein-angebot" label="Zu meinem Angebot…"/>
  </Section>
  <Section>
    <SectionHeader title="Lesenswertes" image="Lesenswertes-black.png" />
    <IntroArtikel />
    <ArticleList articles={featuredArticles} />
    <SectionFooter target="/articles" label="Mehr Artikel…"/>
  </Section> -->
  <!-- <ProjectsContainer /> -->
</Base>
