---
import Base from "./Base.astro";
import Section from "../components/Section.astro";

const { title } = Astro.props;
---

<Base title={title}>
  <Section>
    <header class="w-full items-center grid grid-cols-2 mb-4">
      <img
      class="order-2 rounded-full mb-8 drop-shadow-2xl border border-amber-50 outline outline-2 outline-black outline-offset-2"
      src="/images/PeterSekan-2025.jpeg"
    }
    alt="Bild von Peter Sekan"
    />
    <h1 class="order-1 text-center text-4xl font-serif">
      Hi, ich bin<br />Pete
    </h1>
    </header>
    <slot />

    <div class="flex justify-around w-full flex-wrap gap-2 mt-12">
      <a
        class="px-4 py-2 font-serif italic mt-4 text-primary border-black hover:text-black hover:border-primary transition-colors ease-in-out"
        href="/about"
      >Mehr über mich…</a>
      <a
        class="px-4 py-2 font-serif italic mt-4 text-primary border-black hover:text-black hover:border-primary transition-colors ease-in-out"
        href="/angebot"
      >Zu meinem Angebot…</a>
      <a
        class="px-4 py-2 font-serif italic mt-4 text-primary border-black hover:text-black hover:border-primary transition-colors ease-in-out"
        href="/articles"
      >Mehr zu lesen…</a>
    </div>
  </Section>
</Base>
